@model OnlineShop.ViewModels.ProductViewModel

@{
    string label = "New";
    string className = "new";

    if (!Model.IsNew)
    {
        label = "-" + Model.Discount + "%";
        className = "sale";
    }
}

<div class="product">
    <a asp-page="/Products/Details" asp-route-id="@Model.ProductId">
        <div class="product-img">
            <img src="./img/@Model.Images.First().Name" alt="@Model.Images.First().Alt">
            <div class="product-label">
                <span class="@className">@label</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category">@Model.Category</p>
            <h3 class="product-name">@Model.Name</h3>
            <h4 class="product-price">
                @Model.Price.ToString("C")
                @if (!Model.IsNew)
                 {
                    <del class="product-old-price">@Model.OldPrice.ToString("C")</del>
                 }
            </h4>
        </div>
    </a>
    <div class="add-to-cart">
        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
    </div>
</div>
